* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.box {
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.25);
}

.button {
    flex-grow: 1;
    background-color: rgba(128, 128, 128, 0.25);
    border: solid 1px white;
    margin: 2.5px;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.button:active {
    background-color: rgba(192, 192, 192, 0.5);
}

.dot {
    -webkit-animation: loadingDotAnimation 1s infinite alternate;
    animation: loadingDotAnimation 1s infinite alternate;
}

.info-block {
    display: inline-block;
    padding: 0 10px 0 0;
}

#canvas {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#dialog {
    display: block;
    width: 75%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 12.5%;
    opacity: 0;
    text-align: center;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#dialog-buttons {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 2.5px;
}

#dialog-text {
    width: 100%;
    height: 100%;
    padding: 15px;
    color: white;
    font-size: 20pt;
    font-weight: bold;
}

#info {
    display: none;
    padding: 5px 0 5px 10px;
    position: absolute;
    z-index: 100;
    color: rgba(255, 255, 255, 1.0);
    font-weight: bold;
}

#loading-box {
    display: block;
    width: 150px;
    height: 40px;
    margin: auto;
    line-height: 40px;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    -webkit-animation: loadingBoxAnimation 1s linear infinite alternate;
    animation: loadingBoxAnimation 1s linear infinite alternate;
}

#status {
    display: none;
    padding: 5px 0 5px 5px;
    width: 100px;
    height: 250px;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 100;
    color: white;
    font-weight: bold;
}

#status-help {
    display: block;
    margin: auto;
    font-size: 60px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-animation: helpAnimation 1s ease-in-out infinite alternate;
    animation: helpAnimation 1s ease-in-out infinite alternate;
}

#status-light {
    display: block;
    width: 0px;
    height: 0px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 25px 25px rgb(255, 255, 255);
}

@-webkit-keyframes loadingBoxAnimation {
    0%   { box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
    100% { box-shadow: 0px 0px 5px rgba(0, 0, 0, 1); }
}

@keyframes loadingBoxAnimation {
    0%   { box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
    100% { box-shadow: 0px 0px 5px rgba(0, 0, 0, 1); }
}

@-webkit-keyframes loadingDotAnimation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes loadingDotAnimation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes helpAnimation {
    0%   { text-shadow: 0 0 3px #ffff55; }
    100% { text-shadow: 0 0 10px #ffff55; }
}

@keyframes helpAnimation {
    0%   { text-shadow: 0 0 3px #ffff55; }
    100% { text-shadow: 0 0 10px #ffff55; }
}
